# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# nuxt
.nuxt
.nitro
.cache

# misc
.DS_Store
*.pem
.dev_storage
.vscode
*.log*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
dev.env
.env

# turbo
.turbo

#yalc
.yalc
.yalc-store
