.article {
    font-size: 1.1rem;
    font-weight: 400;

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.75rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }
    
    h5 {
        font-size: 1.25rem;
    }
    
    h6 {
        font-size: 1rem;
    }

    hr {
        border-top: 2px solid black;
    }

    p {
        margin: 4px;
    }

    pre[class*="language-"] {
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        background-color: #363636;
    }

    code {
        background-color: #363636;
        padding: 0.2rem 0.5rem;
    }

    li {
        list-style: disc;
        margin-left: 1.7rem;
    }

    a {
        color: #aed9e0;
        text-decoration: underline;
    }

    table {
        td,th {
            padding-right: 1rem;
        }
    }
}
